@font-face {
    font-family: 'Hershey-Futural-15';
    src: url('Hershey-Futural--15.woff2') format('woff2'),
        url('Hershey-Futural--15.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





