
<!-- _11ty/_layouts/columnGrid.njk -->
<section id="{{ p.fileSlug | cleanTitle | slug }}" 
         style="{% if p.data.gridCol %}--grid-col: {{ p.data.gridCol }};{% endif %}{% if p.data.gutter %}--gutter: {{ p.data.gutter }};{% endif %}"
         data-template="columnGrid"
         {% if p.data.show %}data-show="{{ p.data.show }}"{% endif %}
         {% if p.data.toc %}data-toc="{{ p.data.toc }}"{% endif %}
         {% if p.data.moveTo %}data-page-move-to="{{ p.data.moveTo }}" {% endif %}
         class="{% if p.data.toc %}toc-{{ p.data.toc }}{% endif %} {% if p.data.class %}{{ p.data.class }}{% endif %} marker"
	{% include "partials/frontmatter-attrs.njk" %}>

  {{ p.templateContent | safe }} 

</section>