
<!-- _11ty/_layouts/default.njk -->
<section id="{{ p.fileSlug | cleanTitle | slug }}" 
         data-template="default"
         {% if p.data.show %}data-show="{{ p.data.show }}"{% endif %}
         {% if p.data.toc %}data-toc="{{ p.data.toc }}"{% endif %}
         class="{% if p.data.toc %}toc-{{ p.data.toc }}{% endif %} {% if p.data.class %}{{ p.data.class }}{% endif %} default marker"
	{% include "partials/frontmatter-attrs.njk" %}>
  
  {{ p.templateContent | safe }} 

</section>