<section id="{{ p.fileSlug | cleanTitle | slug }}" 
         style="" 
         data-template="introduction"
         {% if p.data.show %}data-show="{{ p.data.show }}"{% endif %}
         {% if p.data.toc %}data-toc="{{ p.data.toc }}"{% endif %}
         {% if p.data.moveTo %}data-page-move-to="{{ p.data.moveTo }}" {% endif %}
         class="{% if p.data.toc %}toc-{{ p.data.toc }}{% endif %} introduction marker ">
  
  {{ p.templateContent | safe  }} 

</section>