<section id="{{ p.fileSlug | cleanTitle | slug }}" 
         style="{% if p.data.gridCol %}--grid-col: {{ p.data.gridCol }};{% endif %}{% if p.data.gridRow %}--grid-row: {{ p.data.gridRow }};{% endif %}{% if p.data.gridColGutter %}--grid-col-gutter: {{ p.data.gridColGutter }};{% endif %}{% if p.data.gridRowGutter %}--grid-row-gutter: {{ p.data.gridRowGutter }};{% endif %}"
         data-template="modularGrid"
         {% if p.data.show %}data-show="{{ p.data.show }}"{% endif %}
         {% if p.data.toc %}data-toc="{{ p.data.toc }}"{% endif %}
         {% if p.data.pageMoveAfter %}data-page-move-after="{{ p.data.pageMoveAfter }}" {% endif %}
         {% if p.data.pageMoveBefore %}data-page-move-before="{{ p.data.pageMoveBefore }}" {% endif %}
         class="{% if p.data.toc %}toc-{{ p.data.toc }}{% endif %} {% if p.data.class %}{{ p.data.class }}{% endif %}  modularGrid marker ">

  {{ p.templateContent | safe  }} 

</section>
