<section id="{{ p.fileSlug | cleanTitle | slug }}" 
         style="--gridCol:{{ p.data['gridCol'] or '12' }};--gridRow:{{ p.data['gridRow'] or '10' }};"
         data-template="modularGrid"
         {% if p.data.show %}data-show="{{ p.data.show }}"{% endif %}
         {% if p.data.toc %}data-toc="{{ p.data.toc }}"{% endif %}
         class="{% if p.data.toc %}toc-{{ p.data.toc }}{% endif %} {% if p.data.class %}{{ p.data.class }}{% endif %} modularGrid fauxtitre marker ">

  {{ p.templateContent | safe  }} 

</section>
