<section id="{{ page.fileSlug }}" 
         style="" 
         data-template="textCol"
         {% if p.data.show %}data-show="{{ p.data.show }}"{% endif %}
         {% if p.data.toc %}data-toc="{{ p.data.toc }}"{% endif %}
         class="{% if p.data.toc %}toc-{{ p.data.toc }}{% endif %} textCol marker">
  
  {{ p.templateContent | safe  }} 

</section>