
<!-- _11ty/_layouts/toc.njk -->
<section id="{{ p.fileSlug | cleanTitle | slug }}"  
         data-template="toc"
         class="toc marker"
	{% include "partials/frontmatter-attrs.njk" %}>

{{ p.templateContent | safe  }} 

</section>