---
permalink: "assets/css/print/layout.css"
eleventyExcludeFromCollections: true
---
@page {
        --g-column-count: 1;
        --g-column-offset: 0;
        --g-column-gutter: 3mm;
        --g-row-count: 1;
        --g-row-offset: 0;
        --g-row-gutter: 3mm;

        size: {{ theme.width }}mm {{ theme.height }}mm;

        margin-top: {{ theme.margin_top }}mm;
        margin-bottom: {{ theme.margin_bottom }}mm;
        margin-left: {{ theme.margin_left }}mm;
        margin-right: {{ theme.margin_right }}mm;

        {% if theme.bleed %}bleed: 6mm;{% endif %}
        {% if theme.marks %}marks: crop;{% endif %}

        @footnote {
          float: bottom;
        }
    }

    @page:left {
        margin-top: {{ theme.page_left_margin_top }}mm;
        margin-bottom: {{ theme.page_left_margin_bottom }}mm;
        margin-left: {{ theme.page_left_margin_left }}mm;
        margin-right: {{ theme.page_left_margin_right }}mm;
    }

    @page:right {
        margin-top: {{ theme.page_right_margin_top }}mm;
        margin-bottom: {{ theme.page_right_margin_bottom }}mm;
        margin-left: {{ theme.page_right_margin_left }}mm;
        margin-right: {{ theme.page_right_margin_right }}mm;
    }

    @page:left{
      @left-top {
        content: counter(page);
        text-align: left;
        margin-left: 10mm;
        font-family: var(--note);
        font-size: var(--labeur-size);
        display: var(--folio, block);
      }		
    }

    @page:right{
      @right-top {
        content: counter(page);
        text-align: right;
        margin-right: 10mm;
        font-family: var(--note);
        font-size: var(--labeur-size);
        display: var(--folio, block);
      }		
    }

  @page clean {
	@left-top {
	  display: none; /* supprime le folio */
	}
	@right-top {
	  display: none; /* supprime le folio */
	}
   }